<app-header [headerData]="headerData"></app-header>
<h1 class="ml-5">Teacher Page</h1>
<hr class="my-2">
<div class="container">
<form class="my-5">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name" />
  </div>
  <div class="form-group">
    <label for="thumbnail">Thumbnail</label>
    <input type="file" class="form-control-file" id="thumbnail" />
  </div>
  <div class="form-group">
    <label for="course-video">Course Video</label>
    <input type="file" class="form-control-file" id="course-video" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Create Course</button>
</form>
</div>
<app-footer></app-footer>