<app-header [headerData]="headerData"></app-header>
<div class="row d-flex">
<button class="btn btn-sm btn-dark my-1 ml-auto mr-5" data-toggle="modal" data-target="#teacherLogin">Teacher's Login</button>
</div>
<section id="showcase">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption text-right mb-5">
            <h1 class="carosel-text">A Great Place For Education</h1>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption text-right mb-5">
            <h1 class="carosel-text">A Great Place To Be</h1>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption text-right mb-5">
            <h1 class="carosel-text">A Great Place To Learn</h1>
          </div>
        </div>
      </div>
    </div>

    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<!-- About Section -->
<section class="my-5 " id="about">
  <div class="container text-center">
    <h2>Why Choose onSchool</h2>
    <div class="row">
      <div class="col-md-4 p-3">
        <div class="card border-dark mb-3">
          <div class="card-body">
            <i class="fas fa-book fa-5x mb-2"></i>

            <h3>Personalize</h3>
            <p class="lead">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Repellendus dolore doloremque labore illo, suscipit minus.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 p-3">
        <div class="card border-dark mb-3">
          <div class="card-body">
            <i class="fas fa-book fa-5x mb-2"></i>
            <h3>Trusted Courses</h3>
            <p class="lead">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Repellendus dolore doloremque labore illo, suscipit minus.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="card border-dark mb-3">
          <div class="card-body">
            <i class="fas fa-users fa-5x mb-2"></i>
            <h3>Tools for Students</h3>
            <p class="lead">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam dolorum
              odit nesciunt, ratione explicabo laboriosam.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Popular Courses -->
<section class="mt-5" id="popularCourses">
  <div class="container text-center">
    <h2>Popular Courses</h2>
    <div class="row">
      <div class="col-md-4 p-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/img/card-img-1.jpg" alt="" />
          <div class="card-body">
            <h4 class="card-title">Web Develepment</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo,
              quas.
            </p>
            <a class="btn btn-success btn-block" href="#">Enroll this course</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/img/card-img-2.jpg" alt="" />
          <div class="card-body">
            <h4 class="card-title">Mobile App Develepment</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo,
              quas.
            </p>
            <a class="btn btn-success btn-block" href="#">Enroll this course</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="card">
          <img class="card-img-top" src="../../assets/img/card-img-3.jpg" alt="" />
          <div class="card-body">
            <h4 class="card-title">Mathematics</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo,
              quas.
            </p>
            <a class="btn btn-success btn-block" href="#">Enroll this course</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>

<div class="modal fade" id="teacherLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Teacher's Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" #login = "ngForm" novalidate>
          <div class="form-group">
            <label for="username" >Username</label>
            <input type="text" [(ngModel)]="username" name="username" id="username" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="password" name="password" id="password" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" form="teacherLogin" (click)="loginFunction()" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>

<script>
  // Configure Slider
  $(".carousel").carousel({
    interval: 3000,
    pause: "hover",
  });
</script>