.carousel-item {
    height: 450px;
  }
  
  .carousel-image-1 {
    background: url('../../assets/img/carousel-1.jpg');
    background-size: cover;
  }
  
  .carousel-image-2 {
    background: url('../../assets/img/carousel-2.jpg');
    background-size: cover;
  }
  
  .carousel-image-3 {
    background: url('../../assets/img/carousel-3.jpg');
    background-size: cover;
  }